.container{
    max-width: fit-content;  
}

h4{
    margin:10px;
}
p{
    margin:10px;
}

.font{
    border:2px solid red;
    margin:10px;
    padding:6px;
    display: flex;
}

#toggle{
    margin:10px;
    border:2px solid rgb(23, 25, 23);
}