
<h2>Product Form - Reactive</h2>
<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <label for="">ProductId :</label>
        <input type="text" formControlName="productid">
<br>
        <label for="">Brand</label>
        <input type="text" formControlName="brand" required>
<br>
        <label for="">Description :</label>
        <input type="text" formControlName="description">
<br>
        <label for="">Quantity :</label>
        <input type="number" formControlName="qty">
<br>
        <label for="">Price :</label>
        <input type="number" formControlName="price">

        <button type="submit" [disabled]="!productForm.valid">Submit</button>
    </form>
    </div>