<div>
  <form (ngSubmit)="OnSubmit()">
    <div
      class="row g-3"
      style="border: 2px solid pink; margin: 10px; padding: 10px"
    >

      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Product ID</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="product.productId"
          name="productId"

          minlength="4"
          #productid="ngModel"
        />
      </div>

      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Product Brand</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="product.brand"
          name="brand"
          required
          minlength="4"
          #productbrand="ngModel"
        />
        <div *ngIf="productbrand.invalid && productbrand.touched" class="alert">
          <div *ngIf="productbrand.errors?.['required']">Product Brand is required</div>
          <div *ngIf="productbrand.errors?.['minlength']">
            Product Brand must be at least 4 characters
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <label for="validationCustom03" class="form-label">Product Desc</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="product.description"
          name="description"
          required
          minlength="5"
          #productdescription="ngModel"
        />
        <div *ngIf="productdescription.invalid && productdescription.touched" class="alert">
          <div *ngIf="productdescription.errors?.['required']">Product Description is required</div>
          <div *ngIf="productdescription.errors?.['minlength']">
            Product Description must be at least 5 characters
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <label for="validationCustom04" class="form-label">Product Qty</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="product.qty"
          name="qty"
          required
          min="1"
          #productqty="ngModel"
        />
        <div *ngIf="productqty.invalid && productqty.touched" class="alert">
          <div *ngIf="productqty.errors?.['required']">Product Quantity is required</div>
          <div *ngIf="productqty.errors?.['min']">
            Product Quantity must be at least 1
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <label for="validationCustom05" class="form-label">Product Price</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="product.price"
          name="price"
          required
          min="0.01"
          #productprice="ngModel"
        />
        <div *ngIf="productprice.invalid && productprice.touched" class="alert">
          <div *ngIf="productprice.errors?.['required']">Product Price is required</div>
          <div *ngIf="productprice.errors?.['min']">
            Product Price must be at least 0.01 $
          </div>
        </div>
      </div>


      <div class="button d-flex justify-content-center">
        <button
          type="submit"
          [disabled]="!product.brand || !product.description || !product.qty || !product.price"
          class="btn btn-primary"
          (click)="OnSubmit()"
        >
          Submit
        </button>
      </div>

      
    </div>
  </form>
  
  <div class="container2">
    <div class="searchBrand">
      Enter Brand <input type="text" name="search" [(ngModel)]="searchBrand"
       />

      <div class="sort">
        <label>
          <input type="radio" name="sort" (click)="originalOrder()" /> original
          Order
        </label>
        <label>
          <input
            type="radio"
            name="sort"
            (click)="sortProductsByPriceLowtoHigh()"
          />
          Low to High in Prices
        </label>
        <label>
          <input
            type="radio"
            name="sort"
            (click)="sortProductsByPriceHightoLow()"
          />
          High to Low in Prices
        </label>
      </div>
      <div class="searchmain">
        <div *ngFor="let product of productData">
          <span
            *ngIf="product.brand.toLowerCase() == searchBrand.toLowerCase()"
          >
            <div class="searchProduct" [style.border]="productBorder">
              <p>
                <strong>Product Id:</strong> {{ product.productId | titlecase }}
              </p>
              <p>
                <strong>Product Brand:</strong> {{ product.brand | uppercase }}
              </p>
              <p>
                <strong>Product Desc:</strong>
                {{ product.description | uppercase }}
              </p>
              <p><strong>Product Quantity:</strong> {{ product.qty }}</p>
              <p>
                <strong>Product Price:</strong> {{ product.price | currency }}
              </p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div
      *ngFor="let product of productData"
      class="product"
      [style.border]="productBorder"
      style="margin: 10px; padding: 10px"
    >
      <p><strong>Product Id:</strong> {{ product.productId }}</p>
      <p><strong>Product Brand:</strong> {{ product.brand }}</p>
      <p><strong>Product Desc:</strong> {{ product.description }}</p>
      <p><strong>Product Quantity:</strong> {{ product.qty }}</p>
      <p><strong>Product Price:</strong> {{ product.price | currency }}</p>
      <div class="button d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">Edit</button>
      </div>
    </div>
  </div>
</div>
