.container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin: 10px;
    font-size: 15px;
    border:2px solid yellowgreen
}
.container2{
    border:2px solid grey;
    margin:10px;
    padding:10px;
    display: grid;
}

.searchProduct{
    margin:10px
}

.sort{
    border:2px solid black;
    margin:3px;
    padding:3px;
    width:max-content
}
label{
    margin:5px;
}

.alert{
    background-color:#fed3d3 ;
    border-radius: 8px;
    margin:4px;
    padding:10px;
    font-size: small;
    color:#820000;
}

.dialogBox{
    border:2px solid red;
    margin:10px;
    padding :10px;
    display: none;
}



